a{
  text-decoration:none;
  
}
a:visited {color:#FFFFFF; text-decoration:none;}
a:hover {color: rgb(86, 83, 241); text-decoration:underline;}

.body{
  margin:0px;
  padding:0px;
  border:none;
}

.hand{
  width: 1920px;
  height: 395px; 
  position: absolute;
  top:-460px;
}

.hand_01{
  width: 1920px;
  position: absolute;
  top: 100px;
  
}

.box1{
  position: relative;
}

.handico{
  position: absolute;
  top:40% ;
}

.handText{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  font-size: 3em;
  color: #FFFFFF;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.box2{
  position: absolute;
  background-color: #79BBCF;
  width: 1920px;
  height: 104px;
  border:none;
  top: 390px;
}

.box2_ul{
  border:none;
  top: 100px;
  margin: -10px 10px;
  display: flex;
  list-style: none;
}

.Home{
  padding-top: 22px;
  padding-left: 415px;
  font-family: Arial;
  font-size: 42px;
  font-weight: 900;
  color: #FFFFFF;
  
}

.product{
  padding-top: 22px;
  padding-left: 176px;
  font-family: Arial;
  font-size: 42px;
  font-weight: 900;
  color: #FFFFFF;
}

.About_me{
  padding-top: 22px;
  padding-left: 176px;
  font-family: Arial;
  font-size: 42px;
  font-weight: 900;
  color: #FFFFFF;
}

.Contact{
  padding-top: 22px;
  padding-left: 176px;
  font-family: Arial;
  font-size: 42px;
  font-weight: 900;
  color: #FFFFFF;
}

.box3{
  position: relative;
  border:none;
  height: 929px; 
}

.bg2{
  width: 1920px;
  height: 929px; 
}

.bg2_1{
  width: 425px;
  height: 614px;
  position: absolute;
  margin-left: 295px;
  margin-top: -300px;
  top: 50%; 
}

.bg2_2{
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 3em;
  margin-left: 280px;
  color: #FFFFFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: -260px;
}

.bg2_3{
  position: absolute;
  width: 40%;
  font-size: 2em;
  left: 50%;
  top: 50%;
  margin-top: -160px;
  color: #FFFFFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-left: 100px;
}

.bg2_4{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 316px;
  height: 110px;
  color: #FFFFFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-left: 350px;
  margin-top: 55px;
}
.box4{
  position: relative;
  border:none;
  height: 929px; 
}

.bg3{
  width: 1920px;
  height: 929px; 
}

.bg3_1{
  top: 50%;
  position: absolute;
  margin-left: 130px;
  margin-top: -150px;
}

.bg3_2{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  color: #FFFFFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: -330px;
  margin-left: -75px;
}

.bg3_3{
  top: 50%;
  position: absolute;
  margin-left: 610px;
  margin-top: -150px;
}

.bg3_4{
  top: 50%;
  position: absolute;
  margin-left: 1085px;
  margin-top: -150px;
}

.bg3_5{
  top: 50%;
  position: absolute;
  margin-left: 1561px;
  margin-top: -150px;
}

.bg4{
  width: 1920px;
  height: 909px; 
}

.box5{
  position: relative;
  border:none;
}

.bg4_1{
  position: absolute;
  font-size: 4em;
  top: 50%;
  left: 50%;
  color: #FFFFFF;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: -360px;
  margin-left: -75px;
}

.bg4_2{
  top: 50%;
  position: absolute;
  margin-left: 20px;
  margin-top: -180px;
}

.bg4_3{
  top: 50%;
  position: absolute;
  margin-left: 657px;
  margin-top: -180px;
}

.bg4_4{
  top: 50%;
  position: absolute;
  margin-left: 1294px;
  margin-top: -180px;
}

.bg5{
  position: absolute;
  margin-top: -109px;
  width: 1920px;
}

.bg5_1{
  position: absolute;
  margin-top: -95px;
  margin-left: 20px;
}

.bg5_2{
  position: absolute;
  margin-top: -35px;
  margin-left: 582px;
}

.bg5_3{
  position: absolute;
  margin-top: -35px;
  margin-left: 1713px;
}

.bg5_4{
  position: absolute;
  margin-top: -35px;
  margin-left: 1786px;
}


.bg5_5{
  position: absolute;
  margin-top: -35px;
  margin-left: 1855px;
}